<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EPAMTask7._1.Properties.Settings.Task7UBConnectionString"
            connectionString="Data Source=SENNOUBASE\SQLEXPRESS;Initial Catalog=Task7UB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>